@model ProjectSSC.Models.EmployeeModel
@{
    ViewBag.Title = "Angajati";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
@Scripts.Render("~/bundles/Logged")

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="container pagination-centered">
        <div class="containerWrapper col-md-8 col-md-offset-2">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h3>Magazin nou:</h3>
                <br />
                <div class="form-group">
                   <div class="form-group">
                        <strong class="control-label col-md-3 ">Magazin:</strong>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => Model.Employee.MagazinID, new SelectList(Model.Markets, "Id", "Denumire")
                       , new { @class = "form-control text-box single-line selectpicker" })
                            @Html.ValidationMessageFor(model => Model.Employee.MagazinID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Nume:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.Nume, new { htmlAttributes = new { @class = "form-control", @rows = 8 } })
                            @Html.ValidationMessageFor(model => Model.Employee.Nume, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Prenume:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.Prenume, new { htmlAttributes = new { @class = "form-control", @rows = 8 } })
                            @Html.ValidationMessageFor(model => Model.Employee.Prenume, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">CNP:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.CNP, new { htmlAttributes = new { @class = "form-control", @rows = 8 } })
                            @Html.ValidationMessageFor(model => Model.Employee.CNP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Email:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.Email, new { htmlAttributes = new { @class = "form-control", @rows = 8 } })
                            @Html.ValidationMessageFor(model => Model.Employee.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Parola:</strong>
                        <div class="col-md-8">
                            @Html.PasswordFor(model => Model.Employee.Parola, new { htmlAttributes = new { @class = "input form-control", @rows = 8 } })
                            @Html.ValidationMessageFor(model => Model.Employee.Parola, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Data angajare:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.DataAngajare, new { htmlAttributes = new { @class = "datepicker form-control", @rows = 8, @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => Model.Employee.DataAngajare, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Salariu:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.Salariu, new { htmlAttributes = new { @class = "form-control", @rows = 8, @type="number" } })
                            @Html.ValidationMessageFor(model => Model.Employee.Salariu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Functie:</strong>
                        <div class="col-md-8">
                            <select id="Functie" class="form-control text-box single-line selectpicker" name="@Html.NameFor(model => model.Employee.Functie)">
                                <option value="Angajat">Angajat</option>
                                <option value="Manager magazin">Manager magazin</option>
                                <option value="Sef magazin">Sef magazin</option>
                                <option value="Furnizor">Furnizor</option>
                            </select>
                            @Html.ValidationMessageFor(model => Model.Employee.Functie, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 ">
                        <input type="submit" value="Creaza" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $(function () {
        $(".datepicker").datepicker();
    });
</script>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}