@model ProjectSSC.Models.EmployeeModel
@{
    ViewBag.Title = "Angajati";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
@Scripts.Render("~/bundles/Logged")

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="container pagination-centered">
        <div class="containerWrapper col-md-8 col-md-offset-2">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Employee.ID)
                <br />
                <div class="form-group">
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Magazin:</strong>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => Model.Employee.MagazinID, new SelectList(Model.Markets, "Id", "Denumire")
                       , new { @class = "form-control text-box single-line selectpicker" })
                            @Html.ValidationMessageFor(model => Model.Employee.MagazinID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Nume:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.Nume, new { htmlAttributes = new { @class = "form-control", @rows = 8 } })
                            @Html.ValidationMessageFor(model => Model.Employee.Nume, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Prenume:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.Prenume, new { htmlAttributes = new { @class = "form-control", @rows = 8 } })
                            @Html.ValidationMessageFor(model => Model.Employee.Prenume, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">CNP:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.CNP, new { htmlAttributes = new { @class = "form-control", @rows = 8, @type="number" } })
                            @Html.ValidationMessageFor(model => Model.Employee.CNP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Email:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.Email, new { htmlAttributes = new { @class = "form-control", @rows = 8 } })
                            @Html.ValidationMessageFor(model => Model.Employee.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Parola:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.Parola, new { htmlAttributes = new { @class = "form-control", @rows = 8 } })
                            @Html.ValidationMessageFor(model => Model.Employee.Parola, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Data angajare:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.DataAngajare, new { htmlAttributes = new { @class = "datepicker form-control", id = "date", @rows = 8, @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => Model.Employee.DataAngajare, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Salariu:</strong>
                        <div class="col-md-8">
                            @Html.EditorFor(model => Model.Employee.Salariu, new { htmlAttributes = new { @class = "form-control", @rows = 8 } })
                            @Html.ValidationMessageFor(model => Model.Employee.Salariu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <strong class="control-label col-md-3 ">Functie:</strong>
                        <div class="col-md-8">
                            <select id="Functie" name="@Html.NameFor(model => model.Employee.Functie)" class="form-control text-box single-line selectpicker">
                                <option value="Angajat" @(Model.Employee.Functie != null && Model.Employee.Functie.Equals("Angajat")?"selected":"")> Angajat</option>
                                <option value="Manager magazin" @(Model.Employee.Functie != null && Model.Employee.Functie.Equals("Manager magazin") ?"selected":"")>Manager magazin</option>
                                <option value="Sef magazin" @(Model.Employee.Functie != null && Model.Employee.Functie.Equals("Sef magazin") ?"selected":"")>Sef magazin</option>
                                <option value="Furnizor" @(Model.Employee.Functie != null && Model.Employee.Functie.Equals("Furnizor") ?"selected":"")>Furnizor</option>
                            </select>
                            @Html.ValidationMessageFor(model => Model.Employee.Functie, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 ">
                        <input type="submit" value="Modifica" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        var dateParts = null;
        $(".datepicker").datepicker();
        if ($("#date").val()) {
            dateParts = $("#date").val().split("/");
            var dateObject = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
            $(".datepicker").datepicker("setDate", dateObject);
        }
    });
</script>

